body {
    background-color: #EEF9BF;
    padding-left: 88px;
    padding-right: 116px;
}

header {
    height: 103px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-family: 'Roboto';
    font-size: 56px;
    color: #75B79E;
    font-weight: 700;
    line-height: 66px;
    margin-bottom: 47px;
}

.all-cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 150px;
    height: 200px;
    position: relative;
    margin-left: 34px;
    margin-bottom: 34px;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.turnover .back-face {
    transform: rotateY(0deg);
}

.turnover .front-face {
    transform: rotateY(-180deg);
}

img {
    position: absolute;
    width: 100px;
    height: 100px;
}

@media (max-width: 745px) {

    header {
        padding-top: 100px;
    }

    .all-cards {
        flex-direction: column;
        align-items: center;
    }
}